.button{
    float:left;
    width:100px;
    height:50px;
    clear:both;
}
.enterfield{


}
.label{
    float:left;
    width:300px;

}
.radiobutton{
}
.dialogform{
    height:400px;
    position:absolute;
    left:30%;
    top:30%;
    background-color: pink;
    padding:10px 20px;
}
.message{
    color: red;
    clear:both;

}